body {
    position: relative;
}

#page {
    text-align: center;
    width: fit-content;
    margin: auto;

}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(16, 1fr) ;
    grid-template-rows: repeat(16, 1fr);
    
}

.grid-cells {
    background-color:white;
    border: 1px solid black;
    
}

#clear-btn {
    font-size: 20px;
    color:  #D7F6F1;
    padding: 9px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #72C5B7;
    position: relative;
    width: 100%;
    transition-duration: 0.4s;
}

#clear-btn:hover {
    background-color: #A3E1d7;
    color: black;
}